@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Ubuntu:wght@500&display=swap');

:root{
    --altoMenu: 46px;
    --anchoCentral:80%;
}

*,*:before,*:after{
    box-sizing: inherit;
}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x:hidden;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px auto;
}
html,body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
header,nav,section{
    display: block;
}
article,aside{
    width: var(--anchoCentral);
    margin: 0 auto;
}
article{
    padding-top: var(--altoMenu);
}
a{
    background-color: transparent;
}
a{
    color: inherit;
    text-decoration: none;
}
a:active,a:hover{
    outline-width: 0;
}

.bg-black{
    background: black;
    color: white;
}
.fg-white{
    color: white;
}
.bg-azulmd{
    background: #0142ffba;
    color: white;
}

.fila{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.fila .celdas{
    flex: 1 0 0%;
    align-self: stretch;
}
/*Estilos de barra navegacion*/
#bottogle{
    display: none;
}
#contnav{
    position: sticky;
    top: 0;
    z-index: 10;
}
#menu{
    height: var(--altoMenu);
}
#menu .celdas{
    align-self: center;
}
#nav1 .barnav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    color: white;
}